.listaccordion-default {
    width: 100%;

    .ui-accordion-header {
        margin-top: 16px;
    }

    .ui-accordion-header-active a,
    .ui-accordion-header-collapsed a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @extend %h3;
        text-decoration: none;
        border: 1px solid $gray-20;
        padding: 12px 16px;

        &:after {
            content: url("../../images/angle-right-16px.svg");
        }

    }

    .ui-accordion-header-collapsed {
        a {
            color: $primary;
        }

        &:hover {
            background: $lichtblauw;

        }
    }

    .ui-accordion-header-active a {
        border-bottom: 0;

        &:after {
            content: url("../../images/angle-down-16px.svg");
        }
    }

    .ui-accordion-content {
        margin: 0;
        padding: 12px 16px;
        border: 1px solid $gray-20;
        border-top: 0;
    }
}
