.ui-menu {
    background: $neutral-100;
    padding: 0;
    margin-top:40px;
    list-style-type: none;
    @extend %z-index-4dp;
}

li.ui-menu-item {
    color: $zwart;
    padding: 4px 16px;
    cursor: pointer;
}
li.ui-menu-item:hover{
    background: $lichtblauw;
}