.listordered-amc_applicaties {
    border: 1px solid $gray-20;
    padding: 16px;

    ol {
        @extend %ol;
    }

    h2,
    h3 {
        margin: 0;
    }

    a {
        display: flex;
        align-items: center;
        padding: 4px 0;
        margin-bottom: 4px;
        @extend %h4;
        text-decoration: none;

        &:visited {
            color: $zwart;
        }

        &:hover {
            color: $oranje;
        }



    }

}


/* 1e mijnHR */
.listordered-amc_applicaties a::before {
    content: url(../../images/icon/mijnHR/24px.svg);
    display: inline-block;
    padding-right: 8px;
}

/* 2e Dienstengids */
.listordered-amc_applicaties li:nth-of-type(2) a::before {
    content: url(../../images/icon/dienstengids/24px.svg);
}

/* 3e Kwadraet */
.listordered-amc_applicaties li:nth-of-type(3) a::before {
    content: url(../../images/icon/kwadraet/24px.svg);
}

/* 4e Meldingen */
.listordered-amc_applicaties li:nth-of-type(4) a::before {
    content: url(../../images/icon/meldingen&noodsituaties/24px.svg);
}

/* 5e CareCTRL */
.listordered-amc_applicaties li:nth-of-type(5) a::before {
    content: url(../../images/icon/careCTRL/24px.svg);
}

/* 6e Kafkaknop */
.listordered-amc_applicaties li:nth-of-type(6) a::before {
    content: url(../../images/icon/kafkaknop/24px.svg);
}

/* Tulpintranet 
.listordered-amc_applicaties li:nth-of-type(7) a::before {
    content: url(../../images/icon/meldingen%20en%20noodsituaties/);
}
*/
