.buttonBar .g-grid-row {
    align-items: stretch;
}

.buttonBar .g-grid-span2 {
    background: $lichtblauw;
    border-radius: 16px 16px 16px 0;
    padding-top: 4px;
    @extend %z-index-2dp;

    &:hover {
        @extend %z-index-6dp;
    }

}

.buttonBar h4 {
    text-align: center;
}

.buttonBar .image-default {
    padding: 0 32px;
}

.modiv-buttonbar .wrapper {
    display: flex;
    flex-direction: row;
    margin: 16px -16px;

    a {
        text-decoration: none;
    }

    .item {
        width: calc(16.66% -32px);
        padding: 16px;
        margin: 0 16px;
        @extend %z-index-2dp;
        background: $lichtblauw;
        border-radius: 16px 16px 16px 0;
        transition: all .3s cubic-bezier(.4, 0, 1, 1);
        &:hover{
          @extend %z-index-6dp;  
        }

    }
    .thumb{
        padding: 0 8px;
    }

    .title {
        padding: 4px 0;
        @extend %h4;
        text-align: center;

    }
}
