.column-wider .listbulleted-default,
.column-wider .listordered-default,
.column-wider object,
.column-wider .anchor-default,
.column-wider .image-default,
.column-wider .imagemap-default,
.column-wider .table-default,
.column-wider .anchor-alphabet,
.column-wider .listbulleted-alphabet,
.column-wider .backtotop,
.column-wider .g-grid-row {
    display: none;
}

/* knutsel fix op research */
.column-wider {

    .pagetitle,
    .event-header {
        display: none !important;
    }

    .article-default h2 {
        @extend %h4;
    }
}

/* import externe html met paragraph */
.geDiagramContainer {
    z-index: -1 !important;
}

/* bewerkbaar maken sitenavigatie */
.rte_container .site-navigation.displaynone {
    display: block !important;
}

.rte_container .site-navigation {
    position: relative
}
