.column-wider .listbulleted-default,
.column-wider .listordered-default,
.column-wider object,
.column-wider .anchor-default,
.column-wider .image-default,
.column-wider .imagemap-default,
.column-wider .table-default,
.column-wider .anchor-alphabet,
.column-wider .listbulleted-alphabet,
.column-wider .backtotop,
.column-wider .g-grid-row {
    display: none;
}

.column-wider {
    .pagetitle, .event-header {
        display: none!important;
    }
    .article-default h2{
        @extend %h4;
    }
}

