$oranje: rgb(209,66,0); // Oranje
$donkerblauw: rgb(0,55,65); // Donkerblauw 
$lichtgrijs: rgb(206,217,229); // Lichtgrijs
$lichtblauw: rgb(241,245,246); // Lichtblauw
$zwart: rgb(19,21,22); // Zwart

$primary: rgb(29,121,136); // Primary
$secundair: rgb(209,66,0); // Secundair
$visited: rgb(108,71,150); // Visited
$error: rgb(255,17,51); // Error
$succes: rgb(117,185,78); // Succes

$gray-90: rgb(63,65,66); // gray 90
$gray-80: rgb(66,68,69); // gray 80
$gray-70: rgb(89,91,91); // gray 70
$gray-60: rgb(113,115,115); // gray 60
$gray-50: rgb(137,138,138); // gray 50
$gray-40: rgb(161,161,162); // gray 40
$gray-30: rgb(184,184,185); // gray 30
$gray-20: rgb(208,208,208); // gray 20
$gray-10: rgb(231,231,231); // gray 10

$neutral-100: rgb(255,255,255); // Neutral
$neutral-80: rgba(255,255,255,0.8); // Neutral
$neutral-50: rgba(255,255,255,0.5); // Neutral