#ui-datepicker-div {
    background-color: $neutral-100;
    border: 1px solid $gray-10;
    min-width: 320px;

    a {
        text-decoration: none;
    }

    td {

        text-align: center;

        a {
            display: block;
            width: 100%;
            &:hover{
                background: $gray-10;
            }
        }
    }

}

.ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: no-wrap;
    padding: 16px;
    background: $gray-10;

    .ui-datepicker-prev,
    .ui-datepicker-next {
        cursor: pointer;
        @extend %h4;
        color: $primary;

        &:visited {
            color: $primary;
        }

        &:hover {
            color: $oranje;
        }
    }

    .ui-datepicker-prev {
        order: 1
    }

    .ui-datepicker-next {
        text-align: right;
        order: 3
    }

    .ui-datepicker-title {
        @extend %h4;
        text-align: center;
        order: 2
    }
}

.ui-datepicker-calendar {
    width: 100%;
    padding: 16px;
}

