#ui-datepicker-div {
    top: 120px;
    background-color: $neutral-100;
    border: 3px solid $gray-20;
    padding: 16px;
    width: auto;
    a{
        text-decoration: none;
    }
   
}

/*
.ui-datepicker-next,
.ui-datepicker-prev {
    cursor: pointer;
    margin-bottom: 8px;
    display: inline-block;
}

.ui-datepicker-prev {
    float: right;
}

.ui-datepicker-calendar a {
    color: #131516;
    display: inline-block;
    width: 20px;
    padding: 5px;
    text-align: center;
    margin: 0;
    border: 1px solid #fff;
}

.ui-datepicker-calendar {
    border: 0;
}

.ui-datepicker-calendar a:hover {
    text-decoration: none;
    border: 1px solid #131516;
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
*/