.download-amc {
    /*display: inline-block;*/
    margin: 8px 0;

    h2{
        @extend %h3;
        margin-bottom: 8px;
        a{
            text-decoration: none;
        }
    }

    .wrapper {

        .name{
            display: none;
        }

        .download a {
            display: inline-block;
            margin-right: 8px;
            padding: 8px;
            border: 1px solid $gray-20;
            border-radius: 8px;
            text-decoration: none;
            &:before{
                margin-right: 8px;
            }
            &:hover{
                @extend %z-index-4dp;
            }
        }

        .filesize {
            @extend %pSmaller;
            padding: 8px;
        }
    }
}

.download-amc a:hover {
    color: #131516;
}

.download-amc .ai {
    &:before{
        content: url("../../images/icons_ai.png")
    }
}

.download-amc .cdr {
      &:before{
        content: url("../../images/icons_cdr.png")
    }
}

.download-amc .doc {
        &:before{
        content: url("../../images/icons_doc.png") 
    }
}

.download-amc .docx {
        &:before{
        content: url("../../images/icons_docx.png")
    }
}

.download-amc .mov {
        &:before{
        content: url("../../images/icons_mov.png")
    }

}

.download-amc .mp3 {
        &:before{
        content: url("../../images/icons_mp3.png")
    }

}

.download-amc .pdf {
        &:before{
        content: url("../../images/icons_pdf.png")
    }
}

.download-amc .png {
        &:before{
        content: url("../../images/icons_png.png")
    }

}

.download-amc .ppt {
        &:before{
        content: url("../../images/icons_ppt.png")
    }
}

.download-amc .pptx {
        &:before{
        content: url("../../images/icons_pptx.png")
    }
}

.download-amc .psd {
        &:before{
        content: url("../../images/icons_psd.png")
    }
}

.download-amc .pub {
        &:before{
        content: url("../../images/icons_pub.png")
    }
}

.download-amc .rar {
        &:before{
        content: url("../../images/icons_rar.png")
    }
}

.download-amc .tiff {
        &:before{
        content: url("../../images/icons_tiff.png")
    }
}

.download-amc .wav {
        &:before{
        content: url("../../images/icons_wav.png")
    }
}

.download-amc .wma {
        &:before{
        content: url("../../images/icons_wma.png")
    }
}

.download-amc .wmv {
        &:before{
        content: url("../../images/icons_wmv.png")
    }
}

.download-amc .xls {
        &:before{
        content: url("../../images/icons_xls.png")
    }
}

.download-amc .xlsx {
        &:before{
        content: url("../../images/icons_xlsx.png");
    }
}

.download-amc .zip {
        &:before{
        content: url("../../images/icons_zip.png")
    }
}
