.download-amc {
    clear: both;
    overflow: hidden;
}

.download-amc .download {
    display: inline-block;
    float: left;
}

.download-amc .filesize {
    display: inline-block;
    float: left;
    color: #1D7988;
    font-size: 0.8em;
}

.download-amc .clearer {
    clear: both
}

.download-amc .download a {
    display: inline-block;
    padding: 4px 10px 4px 40px;
    float: left;
    font-size: 0.9em;
    color: #131516;
}

.download-amc a:hover {
    color: #131516;
}

.download-amc .ai {
    background: url("../../images/icons_ai.png") no-repeat
}

.download-amc .cdr {
    background: url("../../images/icons_cdr.png") no-repeat
}

.download-amc .doc {
    background: url("../../images/icons_doc.png") no-repeat
}

.download-amc .docx {
    background: url("../../images/icons_docx.png") no-repeat
}

.download-amc .mov {
    background: url("../../images/icons_mov.png") no-repeat
}

.download-amc .mp3 {
    background: url("../../images/icons_mp3.png") no-repeat
}

.download-amc .pdf {
    background: url("../../images/icons_pdf.png") no-repeat
}

.download-amc .png {
    background: url("../../images/icons_png.png") no-repeat
}

.download-amc .ppt {
    background: url("../../images/icons_ppt.png") no-repeat
}

.download-amc .pptx {
    background: url("../../images/icons_pptx.png") no-repeat
}

.download-amc .psd {
    background: url("../../images/icons_psd.png") no-repeat
}

.download-amc .pub {
    background: url("../../images/icons_pub.png") no-repeat
}

.download-amc .rar {
    background: url("../../images/icons_rar.png") no-repeat
}

.download-amc .tiff {
    background: url("../../images/icons_tiff.png") no-repeat
}

.download-amc .wav {
    background: url("../../images/icons_wav.png") no-repeat
}

.download-amc .wma {
    background: url("../../images/icons_wma.png") no-repeat
}

.download-amc .wmv {
    background: url("../../images/icons_wmv.png") no-repeat
}

.download-amc .xls {
    background: url("../../images/icons_xls.png") no-repeat
}

.download-amc .xlsx {
    background: url("../../images/icons_xlsx.png") no-repeat
}

.download-amc .zip {
    background: url("../../images/icons_zip.png") no-repeat
}
