.article-default {
    h2:first-of-type{
        @extend %h1;
    }
   .paragraph p:first-of-type{
        @extend %h3;
    }
}
.postdate{
    display: none;
}

.event_data_list {
   
}

.block-event_data {

}

.event_data {

}

.event_data h2 {

}
