.event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-20;

    h2 a {
        display: flex;
        align-items: center;
        @extend %pSmall;
        color: $primary;
        float: right;
        text-decoration: none;
        padding: 4px 0;

        &::after {
            top: 2px;
            width: 16px;
            height: 16px;
            margin-left: 4px;
            display: inline-block;
            content: url("../../images/angle-right-16px.svg")
        }

        &:hover {
            color: $oranje;
        }
    }

    .event-date {
        @extend %pSmall;
        color: $zwart;
        line-height: 0;
        padding-top: 16px;
        text-transform: capitalize;

    }

}

.block-event_data {
    display: flex;
    flex-wrap: wrap;

    .event_data {
        flex-basis: 25%;
        padding-right: 16px;

        h2 {
            @extend %h3;
        }
    }
    .event_data_list {
        @extend %ul;
        li{
            @extend %pSmall;
        }
    }
}
