.searchresult-facets-default {

    .facet-title {
        border-bottom: 1px solid $gray-20;
        padding-bottom: 4px;

        h3 {
            padding-bottom: 4px;

        }
    }

    .facet-items {
        margin-bottom: 16px;
        ul{
            @extend %ul;
        }

        a {
            text-decoration: none;
            font-size: 16px;
        }
        .facetcount{
            color: $zwart;
            font-size: 14px;
        }
    }
}




/*
a.facet[rel="true"] strong {
    font-family: inherit;
    font-weight: normal;
}
*/
