@font-face {
    font-family: museo-sans-rounded;
    font-weight: 100;
    src: url(../../fonts/museosansrounded-100.eot);
    src: url(../../fonts/museosansrounded-100.eot?#iefix) format("embedded-opentype"), url(../../fonts/museosansrounded-100.woff) format("woff"), url(../../fonts/museosansrounded-100.ttf) format("truetype")
}

@font-face {
    font-family: 'museo-sans-rounded';
    font-weight: 300;
    src: url(../../fonts/museosansrounded-300.eot);
    src: url(../../fonts/museosansrounded-300.eot?#iefix) format("embedded-opentype"), url(../../fonts/museosansrounded-300.woff) format("woff"), url(../../fonts/museosansrounded-300.ttf) format("truetype")
}

/*
@font-face {
    font-family: museo-sans-rounded;
    font-weight: 300;
    font-style: italic;
    src: url(../../fonts/museosansrounded-300Italic.eot);
    src: url(../../fonts/museosansrounded-300Italic.eot?#iefix) format("embedded-opentype"), url(../../fonts/museosansrounded-300Italic.woff2) format("woff2"), url(../../fonts/museosansrounded-300Italic.woff) format("woff"), url(../../fonts/museosansrounded-300Italic.ttf) format("truetype")
}
*/
@font-face {
    font-family: museo-sans-rounded;
    font-weight: 500;
    src: url(../../fonts/museosansrounded-500.eot);
    src: url(../../fonts/museosansrounded-500.eot?#iefix) format("embedded-opentype"), url(../../fonts/museosansrounded-500.woff) format("woff"), url(../../fonts/museosansrounded-500.ttf) format("truetype")
}

/*
@font-face {
    font-family: museo-sans-rounded;
    font-weight: 500;
    font-style: italic;
    src: url(../../fonts/museosansrounded-500Italic.eot);
    src: url(../../fonts/museosansrounded-500Italic.eot?#iefix) format("embedded-opentype"), url(../../fonts/museosansrounded-500Italic.woff2) format("woff2"), url(../../fonts/museosansrounded-500Italic.woff) format("woff"), url(../../fonts/museosansrounded-500Italic.ttf) format("truetype")
}

*/
@font-face {
    font-family: museo-sans-rounded;
    font-weight: 700;
    src: url(../../fonts/museosansrounded-700.eot);
    src: url(../../fonts/museosansrounded-700.eot?#iefix) format("embedded-opentype"), url(../../fonts/museosansrounded-700.woff) format("woff"), url(../../fonts/museosansrounded-700.ttf) format("truetype")
}
