/* reset */
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* einde reset */

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
    font-family: 'museo-sans-rounded';
    font-weight: 300;
    border: 1px solid $gray-20;
    border-radius: 4px;
    padding: 12px 16px;
    margin-right: 16px;

    &::placeholder {
        @extend %pSmall;
    }

    &:focus {
        border: 1px solid $gray-50;
    }
}

label {
    @extend %h3;
}

.fieldgrp {
    display: flex;
    align-items: center;
}

.form-default {
    padding-left: 32px;

    .formsteps {
        border-bottom: 1px solid $gray-50;
        padding-bottom: 16px;

        ol {
            @extend %ul;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }

        .step {
            display: inline-flex;
            width: 16px;
            height: 16px;
            margin-right: 16px;
            border: 1px solid $gray-70;
            border-radius: 16px;
        }

        .step.active {
            background: $oranje;
            border-color: $oranje;
        }

        span {
            display: none;
        }
    }

    .contentelement {
        margin: 32px 0;
    }

    .wm-field-input {
        margin: 8px 0 0;
    }

    .wm_formelement_errors {
        @extend %ul;
        color: $error;
        height: fit-content;
    }

    .wm-field-list {
        @extend %ul;
    }

    .wm-field-helptext {
        @extend %p;
        margin: 8px 0 0;
    }

    .required {
        padding-left: 4px;
        color: $oranje;
    }

}


.formtextbox,
.formdate-default,
.formradio,
.formcheckbox,
.formselect,
.formfileupload {
    margin: 10px 0;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 5px 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

.wm-field-list,
.wm-field-dropdown {}

.wm-field-label label {}

.wm-field-label label span {}
