/* logo */
header.page {
    max-width: 1120px;
    margin: auto
}

.header_logo {
    position: fixed;
    top: 64px;
    left: calc(50% - 168px);
    z-index: 1;
    padding: 12px 24px 4px 24px;
    background-color: $neutral-100;
    border-radius: 40px;
    border-bottom: 1px solid #ccc;
}

/* main navigatie */
.navigation-default {
    display: inline-block;
    float: left;
    ul {
        @extend %ul;
        padding-top: 16px;
        display: flex;
        li {
            padding: 0 24px 0 0;
            a {display: inline-block;
                color: $zwart;
                @extend %h3;
                font-size: 18px;
                padding-bottom: 4px;
                border-bottom: 2px solid $neutral-100;
                text-decoration: none;

                &:hover {
                    border-bottom: 2px solid $oranje;
                }
                &:active{
                    border-bottom: 2px solid $oranje;
                }
            }
        }

    }
}

.search-cluster.dienstengids {
    border-bottom: 1px solid $gray-20;
    border-top: 1px solid $gray-20;
    padding: 16px 0;
    legend, label, .formbutton label{
        display: none;
    }
}
/* search 
.search-default .fieldgrp .formtextbox {
    padding-right: 16px;
}
.search-default .fieldgrp {
    display: flex;
}
.search-default {
    padding: 0;
    margin: 0;
    position: relative;
    top: -16px;
}



.search-default legend,
.search-default .field label {
    display: none
}


*/
#header-wrapper .search-default{
    display: inline-block;
    float: right;
}
