/* logo */
header {
    display: flex;
    justify-content: flex-start;
    padding: 0 0.888888888888889rem;

    @include mq('tablet-landscape') {
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        max-width: 1152px;
        margin: auto;
    }


    input[type="search"],
    input[type="submit"] {
        padding: 8px 16px;
    }
}

.header_logo {
    @include mq('tablet-landscape') {
        padding: 32px 24px 4px 24px;
        background-color: $neutral-100;
        border-radius: 40px;
        border-bottom: 2px solid $gray-30;
    }
    img{
        
    }

}

.navigation-default {
    ul {
        @extend %ul;
        padding-top: 0.888888888888889rem;
        display: flex;

        li {
            padding: 0 24px 0 0;

            a {
                display: inline-block;
                color: $zwart;
                @extend %h3;
                padding-bottom: 4px;
                border-bottom: 2px solid $neutral-100;
                text-decoration: none;

                &:hover {
                    border-bottom: 2px solid $oranje;
                }

                &:active {
                    border-bottom: 2px solid $oranje;
                }
            }
        }

    }


}

.search-cluster.dienstengids {
    border-bottom: 1px solid $gray-20;
    border-top: 1px solid $gray-20;
    padding: 16px 0;

    legend,
    label,
    .formbutton label {
        display: none;
    }
}
