/* base */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: transparent;
}

/* end base */
.skiplinks {
    position: absolute;
    top: -100%;
}

#header-wrapper {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 64px;
    background: $neutral-100;
    z-index: 1;
    @extend %z-index-2dp;
}

#main {}

#main-inner {
    width: 100%;
    max-width: 1152px;
    padding: 32px 16px 0 16px;
    margin: auto;
}

.column-wide {
    width: 100%;

    @include mq('tablet-landscape') {
        width: 75%;
        padding-right: 8px;
        float: left;
    }

    .h1-wrapper {
        margin-bottom: 32px;
    }
}

.column-side {
    width: 100%;

    @include mq('tablet-landscape') {
        width: 25%;
        padding-left: 24px;
        float: right;
    }
}


.homepage {
    #main-wrapper {
        background-image: url("../../images/Image/headerimage.jpg");
        background-position: top center;
        background-repeat: no-repeat;

        &::before {
            content: url("../../images/headerblock.svg");
            display: block;
            max-width: 1120px;
            margin: auto;
        }
    }

    #main {
        padding-top: 0;
    }

    #main-inner {
        padding: 0 16px 0 16px;
    }

    .column-wide {
        width: 100%;
        padding: 32px 0 0 0;
        margin-top: -80px;
    }

    .column-side {
        display: none;
    }

}
