.g-grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 32px;
}

.g-grid-span4 img,
.g-grid-span4 img,
.g-grid-span6 img,
.g-grid-span8 img {
    width: 100%;
    height: auto;
}

.g-grid-span3 {
    flex-basis: 25%;
    margin-right: 32px;
}

.g-grid-span4 {
    flex-basis: 33.33%;
    margin-right: 32px;
}

.g-grid-span6 {
    flex-basis: 50%;
    margin-right: 32px;
}

.g-grid-span8 {
    flex-basis: 75%;
    margin-right: 32px;
}

.g-grid-span12 {
    width: 100%;
}

.islast {
    margin-right: 0
}

.g-grid-span-auto {
    width: auto;
}
.g-grid-row {
   h2{
        @extend %h3;
       color: $oranje;
    }
    h3{
        @extend %h4
    }
    h4{
        @extend %h5
    }
    p{
       @extend %pSmall 
    }
}
