/* base */
html {
    box-sizing: border-box;
    font-size: 18px
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: transparent;
}

/* end base */
.skiplinks{
    position: absolute;
    top: -100%;
}
#header-wrapper {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 64px;
    background: $neutral-100;
    z-index: 1;
    @extend %z-index-2dp;
}

#main {
    

}

#main-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1152px;
    padding: 120px 16px 0 16px;
    margin: auto;
}

.clustertitle-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.column-wide {
    flex-basis: 100%;
    padding: 0 16px;

    @include mq('tablet-landscape') {
        flex-basis: 75%;
        padding: 0 16px 0 0 ;
    }
}

.column-side {
    flex-basis: 100%;
    padding: 0 16px;
     @include mq('tablet-landscape') {
        flex-basis: 25%;
         padding: 0 0 0 16px;
    }
}


.homepage {
    #main-wrapper {
        background-image: url("../../images/foto-4.jpg");
        background-position: top center;
        background-repeat: no-repeat;

        &::before {
            content: url("../../images/headerblock.svg");
            display: block;
            max-width: 1120px;
            margin: auto;
        }
    }

    #main {
        padding-top: 0;
    }
    #main-inner{
        padding: 120px 16px 0 16px;
    }

    .column-wide {
        flex-basis: 100%;
        padding: 32px 0 0 0;
    }

    .column-side {
        display: none;
    }

}
