/* settings */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: transparent;
}

/* end settings */
.skiplinks {
    position: absolute;
    top: -100%;
}

#header-wrapper {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 64px;
    background: $neutral-100;
    z-index: 1;
    @extend %z-index-2dp;
}

#main-inner {
    width: 100%;
    max-width: 1152px;
    padding: 136px 16px 0 16px;
    margin: 0 auto;

}

#main-inner:after {
    content: "";
    display: table;
    clear: both;

}

.clustertitle-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 64px;
    h2{
        margin: 0;
    }
}

.column-wide {
    float: left;
    width: 75%;
    padding-right: 8px;

    .h1-wrapper {
        margin-bottom: 32px;
    }
}

.column-wider {
    width: 25%;
    padding-left: 24px;
    float: right;
}


.homepage {
    #main-wrapper {
        background-image: url("../../images/Image/headerimage.jpg");
        background-position: top center;
        background-repeat: no-repeat;

        &::before {
            content: url("../../images/headerblock.svg");
            display: block;
            max-width: 1120px;
            margin: auto;
        }
    }

    #main-inner {
        padding: 0 16px 0 16px;

    }

    .column-wide {
        width: 100%;

    }

    .column-wider {
        display: none;
    }

}
.block-is-inzet{
    height: 0;
}
.column-wider .block-is-inzet{
    height: auto;
}
