.g-grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 -16px 32px -16px;
}
.g-grid-span2 img,
.g-grid-span4 img,
.g-grid-span4 img,
.g-grid-span6 img,
.g-grid-span8 img {
    width: 100%;
    height: auto;
}
.g-grid-span2 {
    flex-basis: calc(16.66% - 32px);
    margin: 0 16px;
}
.g-grid-span3 {
    flex-basis: calc(25% - 32px);
    margin: 0 16px;
}

.g-grid-span4 {
    flex-basis: calc(33.33% - 32px);
    margin: 0 16px;
}

.g-grid-span6 {
    flex-basis: calc(50% - 32px);
    margin: 0 16px;
}

.g-grid-span8 {
    flex-basis: calc(75% - 32px);
    margin: 0 16px;

}

.g-grid-span12 {
    flex-basis: 100%;
    margin: 0 16px;
}

