a,
.a {
    color: $primary;
}

a:hover,
.a:hover {
    color: $oranje;
    text-decoration: none;
}

a:visited,
.a:visited {
    color: $visited;
    text-decoration: none;
}

a:active,
.a:active {
    color: $zwart;
}

a.more {
    display: flex;
    align-items: center;
    float: right;
    width: fit-content;
    padding: 8px 0;
    text-decoration: none;
    font-size: 18px !important;

    &:after {
        content: url("../../images/icon/arrow-right/24px-oranje.svg");
        margin-left: 4px;

    }
    &:visited{
        color: $zwart;
    }
    &:hover{
        color: $oranje;
    }
}

a.mailto,
a.extern {
    display: inline-block;

    &:after {
        display: inline-block;
        content: "";
        background: url("../../images/icon/functional/envelope.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 4px;
        width: 16px;
        height: 16px;
    }
}

a.extern {
    &:after {
        background: url("../../images/icon/functional/external.svg");
        background-size: contain;
        background-repeat: no-repeat;

    }
}
.column-wider{
    a{
        &:after{
            display: none;
        }  
    }
}


%visitedaslink {
    color: $primary;
}
%externNone {
    &:after {
        background: none;
        width: 0;
        height: 0

    }
}