a,
.a {
    color: $primary;
}

a:hover,
.a:hover {
    color: $oranje;
    text-decoration: none;
}

a:visited,
.a:visited {
    color: $visited;
    text-decoration: none;
}

a:active,
.a:active {
    color: $zwart;
}

a.more {
    display: flex;
    align-items: center;
    float: right;
    width: fit-content;
    padding: 8px 0;
    text-decoration: none;
    font-size: 18px !important;

    &::after {
        content: url("../../images/icon/arrow-right/24px-oranje.svg");
        margin-left: 4px;

    }
}
.oembed, .oembed-youtube {
    position: static!important;
}
