.molist-default ul {
    @extend %ul;
}

.molist-default {

    a {
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px solid $gray-20;
        padding: 4px 0;
    }
    /* niet met inrchting cms op te lossen */
    .itemdate, time{
        display: none;
    }
    &:visited{
        @extend %visitedaslink;
    }
}

.molist-default a:hover {
    text-decoration: none;
}
