.molist-default ul {
    @extend %ul;
}

.molist-default {

    a {
        display: inline-block;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 1px solid $gray-20;
        padding: 4px;
    }
}

.molist-default a:hover {
    text-decoration: none;
}

/* mediaoverzicht FS image title text */
.modiv-image_title_text,
.modiv-title_date {
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        margin-left: -16px;
        margin-right: -16px;

        .item {
            flex-basis: calc(33.33% - 32px);
            @extend %z-index-2dp;
            margin: 16px;
            padding-bottom: 16px;
            transition: all .2s ease-in-out;

            &:hover {
                @extend %z-index-6dp;

                img {
                    transform: scale(1.1);
                }
            }

            a {
                text-decoration: none;
                color: $zwart;

                &:hover,
                &:visited {
                    color: $zwart;
                }
            }

            img {
                width: 100%;
            }

            .title,
            .text,
            time {
                padding: 0 16px;
            }

        }
    }

}

.modiv-title_date {
    .item {
        flex-basis: calc(50% - 32px);
    }
}
