.sitewidepages {
    top: 0;
    width: 100%;
    height: 40px;
    background: $lichtblauw;
    z-index: 100;
    position: fixed;
}

.sitewide-default {
    width: 100%;
    max-width: 1120px;
    height: 40px;
    overflow: hidden;
    margin: auto;

    ul {
        @extend %ul;
        display: flex;
        justify-content: center;
        

        li {
            flex-basis: 25%;

            a {
                display: block;
                @extend %h4;
                font-weight: 500;
                text-decoration: none;
                text-align: center;
                padding-top: 8px
            }
        }
    }
}

.sitewide-default #sitewideitem1 {
    background-color: $oranje;
}

.sitewide-default #sitewideitem1 a,
.sitewide-default #sitewideitem2 a:hover {
    color: $neutral-100 !important;
}

.sitewide-default #sitewideitem2:hover {
    background-color: #003738;

}
/* tot herinrichting cms */
footer .sitewidepages{
    display: none;
}