.sitewidepages {
    top: 0;
    width: 100%;
    height: 40px;
    background: $lichtblauw;
    z-index: 100;
    position: fixed;
}

.sitewide-default {
    width: 100%;
    max-width: 1120px;
    height: 48px;
    overflow: hidden;
    margin: auto;

    @include mq('tablet-portrait') {
        height: 40px;
    }

    ul {
        @extend %ul;
        display: flex;
        justify-content: center;


        li {
            flex-basis: 33.33333%;

            @include mq('tablet-landscape') {
                flex-basis: 25%;
            }

            a {
                display: block;
                height: 40px;
                @extend %h4;
                text-decoration: none;
                text-align: center;
                padding-top: 8px
            }
        }
    }
}
.sitewide-default .item{
    cursor: pointer;
}

.sitewide-default #sitewideitem1 {
    background-color: $oranje;
}

.sitewide-default #sitewideitem1 a,
.sitewide-default #sitewideitem2 a:hover,
.sitewide-default #sitewideitem3 a:hover {
    color: $neutral-100 !important;
}

.sitewide-default #sitewideitem2,
.sitewide-default #sitewideitem3 {
    &:hover {
        background-color: $donkerblauw;
    }
}

/* tot herinrichting cms */
footer .sitewidepages {
    display: none;
}
