.modiv-teaser .wrapper {


    .item {
        flex-basis: 100%;
        border: 1px solid $gray-20;
        padding: 8px 16px;
        margin-bottom: 16px;

        .thumb a img {
            width: 100%;
            height: auto;
            margin-bottom: 16px;
        }

        h2 {
            @extend %h3;

            a {
                color: $primary;
                text-decoration: none;

                &:visited {
                    color: $primary;
                }

                &:hover {
                    color: $oranje;
                }
            }

        }

    }
}


.modiv-image_title_text .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    .item {
        @extend %z-index-2dp;
        flex-basis: 30%;
        margin: 16px 0;
        transition: all .3s cubic-bezier(.4, 0, 1, 1);

        &:hover {
            @extend %z-index-6dp;
        }

        a {
            text-decoration: none;
            color: $zwart;

            &:hover {
                color: $zwart;
            }
            /*

            > div {
                display: flex;
                flex-flow: column wrap;
                
                align-items: stretch;


                .thumb {
                    flex-basis: 100%;
                    img{
                        width: 100%}
                }

                .title, .text {
                    padding: 0 16px;
                }

            }
            */
        }
    }
    
}

.modiv-title_date {
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;


        .item {
            flex-basis: 31%;
            margin: 24px 0;
            padding-bottom: 8px;
            @extend %z-index-2dp;
            transition: all .3s cubic-bezier(.4, 0, 1, 1);
            &:hover{
                @extend %z-index-6dp;
            }

            a {
                text-decoration: none;
                color: $zwart;

                &:hover,
                &:visited {
                    color: $zwart;
                }
            }

            .title{
                padding: 0 16px;
                margin: 16px 0 0 0;
            }
            time{
                padding: 0 16px;
                @extend %pSmaller;
            }

        }
    }

}
