
.modiv-teaser .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    .item {
        margin: 8px;
        flex-basis: calc(50% - 16px);
        border-top: 1px solid $gray-20;
        padding-top: 16px;
        .thumb a img{
            width: 100%;
            height: auto;
            margin-bottom: 16px;
        }
    
}
}

