#main-inner .block-is-inzet:nth-child(3) {
    flex-basis: 100%;
    background-color: #F2DB45;
    margin-top: -16px;

    .wrapper {}

    .text {

        padding: 32px;
        @extend %h3;
        color: $zwart;
    }
}
