.paragraph-melding {
background-color: #F2DB45;
            flex-basis: 100%;
    

    .wrapper {

        
    }

    .text {

        padding: 32px;
        @extend %h3;
        color: $zwart;
    }
}
