.column-wide .block-is-inzet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 16px 0;
    background: yellow;

    .paragraph-melding {
        max-width: 1120px;
        margin: auto;
    }

    .text {
        @extend %h3;
        color: $zwart;
    }
}
