.h1-wrapper {
    h1.pagetitle, h1 {
        display: flex;
        align-items: center;
        margin: 0;
    }

    a {
        display: inline-block;
        height: 56px;
        width: 56px;
        padding-bottom: 8px;
        margin: 0 16px 0 -8px;
        background: url("../../images/icon/arrow-left/24px.svg") no-repeat;

        &:hover {
            background: url("../../images/icon/arrow-left/24px hover.svg") no-repeat;
            border-color: $oranje;
        }
    }
}
