.site-navigation {
    position: fixed;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 5.777777777777778rem;
    background-color: $lichtblauw;

    .g-grid-row {
        width: 100%;
        max-width: 1152px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 16px auto;
        padding: 16px;
    }

    .close-menu {
        flex-basis: 100%;
        text-align: right;
        padding: 16px 0;
        cursor: pointer;
    }

    .g-grid-span3 {
        flex-basis: calc(25% - 32px);
        margin: 0
    }
}

.site-navigation {

    h2,
    a,
    p {
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 1rem;
        border-bottom: 1px solid $gray-30;
        padding-bottom: 4px;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    a {
        @extend %pSmall;
        font-weight: 500;
        color: $zwart;
        text-decoration: none;

        &:hover {
            color: $oranje;
        }
    }

    h5 {
        border-bottom: 0;
        border-top: 1px solid $gray-30;
        padding: 4px 0 0;
        margin: 8px 0 32px;

        a {
            display: flex;
            align-items: center;

            &::after {
                content: url("../../images/arrow-right-16px.svg");
                margin-left: 4px;

            }
        }


    }
}
