.subnavigation-default .close-menu {
    display: none;
}

.clustertitle-wrapper {

    h2 {
        flex-basis: 90%;
        @extend %h1;
        padding: 0 8px 0;

        a {
            text-decoration: none;
            color: $oranje;

            &:visited {
                color: $oranje;
            }

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .open-subnavigation {
        &::before {
            flex-basis: 64px;
            margin: 0 8px 0 -8px;
            content: url("../../images/subnavigation_menu.svg");
            color: transparent;
            cursor: pointer;
        }

        &:hover::before {
            content: url("../../images/subnavigation_menu-hover.svg")
        }
    }

    .block-default {
        flex-basis: 100%;
    }

    &:before {
        content: "";
        position: absolute;
        background: $gray-10;
        left: 0;
        width: 100%;
        height: 265px;
        top: 0;
        z-index: -1;
    }

}


.subnavigation-default {
    display: none;
    padding-bottom: 32px;
    overflow: hidden;
    background: $neutral-100;
    padding: 16px;
    border: 1px solid $gray-10;
    margin-top: -16px;

    ul {
        @extend %ul;
        width: 100%;

        li {
            display: inline-block;
            width: 50%;
            float: left;
            padding-bottom: 16px;
            padding-right: 16px;

            a {
                @extend %h4;
                text-decoration: none;
                font-weight: 500;
                color: $zwart;


                &:hover {
                    color: $oranje;
                }

                &:visted {
                    color: $zwart;
                }
            }

            ul li {
                padding-bottom: 0;

                a {
                    font-weight: 300;
                    color: $zwart;
                }
            }
        }
    }
}
