.table-default {
    display: block;
    overflow: hidden;
    text-align: left;

    table {
        width: 100%;
        border-spacing: 0;
    }

    caption {
        @extend %h2;
        padding: 8px 0;
        text-align: left;
    }
    th, td{
        padding: 8px;
        vertical-align: top;
    }
    th{
        background: $lichtblauw;
    }

    td {
        border-bottom: 1px solid $gray-20;
    }
}


table.clear {
    width: 100%;
    clear: both;
}

table.right {
    float: right;
    margin-left: 20px;
}

table.left {
    float: left;
    margin-right: 20px;
    margin-top: 0;
}

table.center {
    margin: 0 auto;
    clear: both;
}
tr.odd {
    background-color: $gray-20;
}
