.table-default {
    display: block;
    overflow: hidden;
    text-align: left;

    table {
        width: 100%;
        border-spacing: 0;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    caption {
        @extend %h2;
        padding: 8px 0;
        text-align: left;
        margin-bottom: 8px;
    }

    th,
    td {
        font-size: 16px;
        padding: 8px;
        vertical-align: top;
        text-align: left;
    }

    th {
        background: $lichtblauw;
    }

    td {
        border-bottom: 1px solid $gray-20;
    }
}


table.clear {
    width: 100%;
    clear: both;
}

table.right {
    float: right;
    margin-left: 32px;
}

table.left {
    float: left;
    margin-right: 32px;
}

table.center {
    margin: inherit auto;
    clear: both;
}

tr.odd {
    background-color: $gray-10;
}

table {

    a.extern,
    a.mailto {
        &:after {
            background: none;
            width: 0;
            height: 0
        }
    }
}