/* reset */
.tabsrow {

    .tabsactive,
    .tabsinactive {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            @extend %h4;
        }
    }
}

.tabs {
    clear: both;
    margin: 32px 0;
}

.tabsrow {
    display: flex;
    flex-direction: row;
    border: 1px solid $gray-20;
    border-bottom: 0;

    .tabsactive,
    .tabsinactive {
        justify-content: space-between;
        flex-basis: 50%;
        padding: 16px 18px 16px 19px;
        @extend %h3;
        text-align: center;
        border-bottom: 1px solid $gray-20;
        border-right: 1px solid $gray-20;
    }

    .tabsactive {
        font-weight: 600;
        border-bottom: 0;
    }

    .tabsinactive {
        color: $primary;
        cursor: pointer;
    }
}

.tabsinactive:hover {
    background: $lichtblauw;
}

.tabsrow div:last-of-type {
    border-right: 0;
}

.tabspanes {

    .tabsactive {
        border: 1px solid $gray-20;
        border-top: 0;
        padding: 32px;
    }

    .tabsinactive {
        display: none;
    }
}
