body {
    margin: 0;
    padding: 0;
    background: $neutral-100;
    font-family: 'museo-sans-rounded', sans-serif;
    font-weight: 300;
    line-height: 1.45em;
    color: $zwart;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}



%h1 {
    font-size: 2.25em;
    letter-spacing: 0.76px;
    color: $zwart;
    font-weight: 500;
    line-height: 1.25em;
}

h1,
.h1,
    {
    @extend %h1;
}

%h2 {
    font-size: 1.5em;
    letter-spacing: 0.5px;
    color: $oranje;
    font-weight: 500;
    line-height: 1.25em;

    /*text-transform: uppercase;*/
}

h2,
.h2 {
    @extend %h2;
}

%h3 {
    font-size: 1em;
    letter-spacing: 0.33px;
    color: $zwart;
    font-weight: 500;
    line-height: 1.25em;

}

h3,
.h3 {
    @extend %h3;
}


%h4 {
    font-size: 0.888888888888889rem;
    letter-spacing: 0.3px;
    color: $zwart;
    font-weight: 500;
    line-height: 1.25em;
}

h4,
.h4 {
    @extend %h4;
}

%h5 {
    font-size: 0.777777777777778rem;
    letter-spacing: 0.26px;
    color: $zwart;
    font-weight: 500;
    line-height: 1.25em;
    text-transform: uppercase;
}

h5,
.h5 {
    @extend %h5;
}

%p {
    margin-bottom: 1rem;
}

p,
.p,
.text,
a {
    @extend %p;
}

%pSmall {
    font-size: 0.888888888888889rem;
}

%pSmaller {
    font-size: 0.777777777777778rem;
}

%textdecorationnone{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    margin: 0;
    a {
        color: $zwart;

        &:hover {
            text-decoration: none;
        }

        &visited {
            color: $zwart;
        }
    }
}

strong {
    font-weight: 500;
}

em {
    font-family: 'museo-sans-rounded';
    font-weight: 300;
    font-style: italic;
}

blockquote {
    padding-left: 32px;
    font-family: museo-sans-rounded;
    font-weight: 500;
    color: $oranje;
    border-left: 2px solid $oranje;
}

hr {
    margin-top: 20px;
    height: 1px;
    border-width: 0;
    color: $gray-20;
    background-color:  $gray-20;;
}

ol {
    list-style-type: decimal-leading-zero;
    padding-left: 32px;
}

ol ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
    padding-left: 16px;
}

ul ul {
    list-style-type: circle;
}

%ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
%ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
