body {
    margin: 0;
    padding: 0;
    font-family: "museo-sans-rounded";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.45;
    color: $zwart;
    background: $neutral-100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

    @include mq('tablet-portrait') {
        font-family: "museo-sans-rounded";
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.45;
    }
}



%h1 {
    font-family: "museo-sans-rounded";
    font-weight: 500;
    font-size: 1.6875rem;
    line-height: 1.25;
    letter-spacing: 0.76px;
    color: $zwart;

    @include mq('tablet-portrait') {
        font-family: "museo-sans-rounded";
        font-weight: 500;
        font-size: 2.5625rem;
        line-height: 1.25;
        letter-spacing: 0.15rem;
    }

}

h1,
.h1,
    {
    @extend %h1;
}

%h2 {
    font-family: "museo-sans-rounded";
    font-weight: 500;
    font-size: 1.3125rem;
    line-height: 1.25;
    color: $oranje;

    @include mq('tablet-portrait') {
        font-weight: 500;
        font-size: 1.6875rem;
        line-height: 1.25;
        letter-spacing: 0.05rem;
    }

    /* verwijder text-transform: uppercase; maar kan redactioneel problemen opleveren*/
}

h2,
.h2 {
    @extend %h2;
}

%h3 {
    font-family: "museo-sans-rounded";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
    color: $zwart;

    @include mq('tablet-portrait') {
        font-family: "museo-sans-rounded";
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.25;
        letter-spacing: 0.05rem;
    }

}

h3,
.h3 {
    @extend %h3;
}


%h4 {
    font-family: "museo-sans-rounded";
    font-weight: 500;
    font-weight: 500;
    font-size: 0.888888888888889rem;
    line-height: 1.25em;
    color: $zwart;

    @include mq('tablet-portrait') {
        font-size: 1rem;
    }
}

h4,
.h4 {
    @extend %h4;
}

%h5 {
    color: $zwart;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25em;
    letter-spacing: 0.26px;
}

h5,
.h5 {
    @extend %h5;
}

%p {
    margin-bottom: 1rem;
}


p,
.p,
.text,
    {
    @extend %p;
}

h6,
.h6 {
    @extend %pSmall;
}

%pSmall {
    font-size: 0.888888888888889rem;

    @include mq('tablet-portrait') {
        font-size: 1rem;
        ;
    }
}

%pSmaller {
    font-size: 0.888888888888889rem;
}

%textdecorationnone {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {

    a {
        color: $zwart;

        &:hover {
            text-decoration: none;
        }

        &visited {
            color: $zwart;
        }
    }
}

.g-grid-row,
.column-wider {
    h2 {
        font-size: 1.3125rem
    }

    h3 {
        @extend %h4
    }

    h4 {
        @extend %h5
    }

    p {
        @extend %pSmall
    }
}

time,
.lastmodifieddate {
    @extend %pSmall;
}

strong {
    font-weight: 500;
}

em {
    font-family: 'museo-sans-rounded';
    font-weight: 300;
    font-style: italic;
}

blockquote {
    padding-left: 32px;
    font-family: museo-sans-rounded;
    font-weight: 500;
    border-left: 2px solid $oranje;
}

hr {
    margin-top: 20px;
    height: 1px;
    border-width: 0;
    color: $gray-20;
    background-color: $gray-20;
}

ol {
    list-style-type: decimal-leading-zero;
    padding-left: 32px;
}

ol ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
    padding-left: 16px;
}

ul ul {
    list-style-type: circle;
}

%ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

%ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul,
ol {
    a {
        text-decoration: none;
    }
}
.alignright{
    text-align: right;
}