.block-searchresults {
    margin: 32px 0;
    border-bottom: 1px solid $gray-20;
}

.searchresult-default {

    h2 {
        @extend %h3;
    }
}

.searchresults-orderlinks {
    display: flex;
    overflow: hidden;
    float: right;
    width: fit-content;
    border: 1px solid $gray-50;
    border-radius: 16px;

    a
        {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 16px;
        margin: 0;
        @extend %pSmaller;
        font-weight: 500;
        color: $zwart;
        text-decoration: none;

        &:visited {
            color: $zwart;
        }
    }

    a {
        &::after {
            width: 16px;
            height: 16px;
            margin-left: 4px;
            display: inline-block;
            content: url("../../images/angle-right-16px.svg");
        }

        &:hover {
            color: $neutral-100;
            background: $donkerblauw;
        }
    }

    a.active {
        color: $neutral-100;
        background: $oranje;

        &::after {
            content: url("../../images/angle-down-16px.svg");
        }
    }

}


.search-result-count,
.search-result-index {
    @extend %pSmall;
    float: left;
    margin: 0 0 8px 4px;
}

.search-wrapper {
    clear: both;
    padding-top: 16px;

    #searchresultbox {
        border-top: 1px solid $gray-20;
        padding-top: 16px;
    }


}

#searchresultbox {
    ol {
        @extend %ol;
    }

    li {
        display: block;
        overflow: hidden;
        margin-bottom: 32px;

    }


    h3 {
        padding: 0;
        margin: 0;

        a {
            color: $primary;

            &:hover {
                color: $oranje;
            }
        }
    }

    .summary {
        @extend %pSmall;

    }

    .splitter {
        display: none;
    }

    .meta {
        margin: 8px 0;
    }

    .eventtype {
        @extend %pSmaller;
        font-weight: 500;
        border: 1px solid $gray-50;
        padding: 4px 8px;
        border-radius: 16px;
    }

    .leadimage {
        display: inline-block;
        float: left;
        margin-right: 16px;
        width: 80px;
        height: 80px;
    }
}
