@import 'mediaqueries';
@import 'colors';
@import 'elevation';
@import 'typography';

/* frontend niet tonen van mainnavigatie omdat csm herinrichten nog niet aan de orde is */

.sitewidepages {
    display: none;
}

#header-wrapper {
    top: 0;

    .navigation-default,
    .search-default {
        display: none;
    }

}

/* layout aanpassingen*/
#main-inner {
    padding-top: 64px;
}

.afdelingspagina,
.afdelingspaginaPaginatitel {
    .column-wide {
        flex-basis: 100%;
        padding-top: 40px;
    }
}

/* headerimage als inzet */
.column-wide .pagesection-default {
    margin-bottom: 64px;

    h1,
    h3 {
        text-align: center;

    }

    &:before {
        content: "";
        position: absolute;
        z-index: -100;
        left: 0;
        top: 64px;
        width: 100%;
        height: 200px;
        background-color: #F2DB45;

    }
}

/* geen navigatie op home */

.afdelingspagina {
    .clustertitle-wrapper {
        display: none;
    }
}

/* aanpassing subnavigatie */
.afdelingspaginaPaginatitel .clustertitle-wrapper {
    flex-direction: row;
    border: 0;
    padding: 0;
    margin: 32px 0 0 0;

    &:before {
        content: "";
        position: absolute;
        z-index: -100;
        left: 0;
        top: 64px;
        width: 100%;
        height: 204px;
        background-color: #F2DB45;


    }

    h2 {
        @extend %h1;
        text-align: center;
        flex-basis: 100%;
        border: 0;

        a:hover {
            color: $zwart;
        }
    }

    .subnavigation-default {
        display: none;

        @include mq('tablet-portrait') {
            display: block;
            padding: 8px 16px;
            background: transparent;


        }

    }

    .open-subnavigation {
        display: block;

        @include mq('tablet-portrait') {
            display: none;
        }

    }
}

.afdelingspaginaPaginatitel .subnavigation-default {
    display: block;
    padding: 0 !important;


    ul {
        border: 0;
        padding: 0;
        width: fit-content;

        li {
            flex-basis: auto;


            a {
                font-size: 16px;
                font-weight: 500;
                padding: 18px 16px 16px 16px;

                &:hover {
                    border-bottom: 4px solid $oranje;
                    padding-bottom: 12px;
                }



            }

        }
    }
}

.pc-default {
    .pagecollection {
        display: flex;
        flex-flow: row wrap;
        margin-left: -16px;
        margin-right: -16px;
    }

    .page {
        margin: 8px;
        
        flex-basis: 100%;
        padding: 16px;
        @include mq('tablet-portrait'){
            flex-basis: calc(33.33% - 16px);
        }
    }

    .title{
        @extend %h2;
    }

    .lead p {
        @extend %pSmall;
    }
}

/* nog uit te zoeken of we een search opzet kunnen gebruiken 
.searchopzet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .block-default {
        flex-basis: calc(75% - 16px);
    }

    .block-default:first-of-type {
        flex-basis: calc(25% - 16px);
    }

    .facet-title:nth-child(1),
    .facet-items:nth-child(2),
    .search-result-count,
    .search-result-index,
    .block-more {
        display: none;
    }

    .search-wrapper ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            flex-basis: calc(50% - 16px);
            @extend %z-index-2dp;
            padding: 16px;

            &:hover {
                @extend %z-index-4dp;
            }

            a {
                text-decoration: none;
                color: $zwart;

                &:hover,
                &:visited {
                    color: $zwart;
                }
            }
        }
    }

}
 nog uit te zoeken of we een search opzet kunnen gebruiken */
