@import 'mediaqueries';
@import 'colors';
@import 'elevation';
@import 'typography';

/* frontend niet tonen van mainnavigatie omdat csm herinrichten nog niet aan de orde is */

.sitewidepages {
    display: none;
}

#header-wrapper {
    top: 0;

    .navigation-default,
    .search-default {
        display: none;
    }

}

/* layout aanpassingen*/
#main-inner {
    padding-top: 64px;
}

.afdelingspagina,
.afdelingspaginaPaginatitel {
    .column-wide {
        width: 100%;
        padding-top: 40px;
    }
}

/* headerimage als inzet */
.column-wide .pagesection-default {
    margin-bottom: 64px;

    h1 {
        margin: 4px 0 0 0;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    &:before {
        content: "";
        position: absolute;
        background: #e7e7e7;
        left: 0;
        width: 100%;
        height: 236px;
        top: 0;
        z-index: -1;
        background-color: #F2DB45;
    }


}

/* geen navigatie op home */

.afdelingspagina {
    .clustertitle-wrapper {
        display: none;
    }
}

/* aanpassing subnavigatie */
.clustertitle-wrapper {
    margin: 48px 0 0 0;
    width: 100%;

    &:before {
        height: 236px;
        background-color: #F2DB45;

    }

    h2 {
        flex-basis: 100%;

        a {
            display: block;
            @extend %h1;
            text-align: center;
            color: $zwart;

            &:hover,
            &:visited {
                color: $zwart;
                text-decoration: none;
            }
        }

    }

    .open-subnavigation {
        display: block;

        @include mq('tablet-portrait') {
            display: none;
        }

    }
}


.subnavigation-default {
    display: block;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 19px 0 0 0;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
            width: auto;
            flex-basis: auto;
            padding: 0;


            a {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                padding: 18px 16px 16px 16px;

                &:hover {
                    border-bottom: 4px solid $oranje;
                    padding-bottom: 12px;
                    color: $zwart;
                }

            }

            &:first-child a {
                padding-left: 0;

            }

        }
    }
}

.tabsactive {
    .g-grid-row {
        margin: 0;
        align-items: stretch;

        .g-grid-span6 {
            margin: 0;
            padding: 16px;
            flex-basis: 50%;
            border-right: 1px solid $gray-20;
        }

        .g-grid-span6.islast {
            border-right: none;
        }
    }

    .g-grid-row:nth-child(odd) {
        background: $lichtblauw;
    }

    .g-grid-row:first-child {
        background: $donkerblauw !important;

        .g-grid-span6 {
            padding: 0 16px;
        }

        h4 {
            color: $neutral-100;
        }
    }


}

.pagecollection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 -16px;
    align-items: stretch;

    .page {
        flex-basis: 30%;
        margin: 16px;
        @extend %z-index-2dp;
        transition: all .3s cubic-bezier(.4, 0, 1, 1);

        &:hover {
            @extend %z-index-6dp;
        }

        .title {
            a {
                display: block;
                @extend %h4;
                text-decoration: none;
                padding: 16px;

            }
        }

        .lead {
            @extend %pSmaller;
        }
    }
}

.modiv-image_title_text .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: -16px;
    margin-right: -16px;

    .item {
        border: none;
        width: calc(33.33% - 32px);
        margin: 16px;
        @extend %z-index-2dp;
        transition: all .3s cubic-bezier(.4, 0, 1, 1);

        &:hover {
            @extend %z-index-6dp;
        }

        a {
            text-decoration: none;
            color: $zwart;

            &:hover {
                color: $zwart;
            }


            > div {
                display: flex;
                flex-direction: column;


                .thumb {
                    width: 100%;
                    min-height: 198px;
                    img{
                        width: 100%}
                }

                .title, .text {
                    padding: 0 16px;
                }
                .title{
                    margin-bottom: 4px;
                }

            }
        }
    }

}
