@import 'mediaqueries';
@import 'colors';
@import 'elevation';
@import 'typography';

/* frontend niet tonen van mainnavigatie omdat csm herinrichten nog niet aan de orde is */

.sitewidepages {
    display: none;
}

#header-wrapper {
    top: 0;

    .navigation-default,
    .search-default {
        display: none;
    }

}

/* layout aanpassingen*/
#main-inner {
    padding-top: 64px;
}

.afdelingspagina,
.afdelingspaginaPaginatitel {
    .column-wide {
        width: 100%;
        padding-top: 40px;
    }
}

/* headerimage als inzet */
.column-wide .pagesection-default {
    margin-bottom: 64px;

    h1,
    h3 {
        text-align: center;

    }

    &:before {
        content: "";
        position: absolute;
        background: #e7e7e7;
        left: 0;
        width: 100%;
        height: 288px;
        top: 0;
        z-index: -1;
        background-color: #F2DB45;
    }


}

/* geen navigatie op home */

.afdelingspagina {
    .clustertitle-wrapper {
        display: none;
    }
}

/* aanpassing subnavigatie */
.clustertitle-wrapper {
    margin: 32px 0 0 0;
    width: 100%;

    &:before {
        background-color: #F2DB45;

    }

    h2 {
        flex-basis: 100%;

        a {
            display: block;
            @extend %h1;
            text-align: center;
            color: $zwart;

            &:hover,
            &:visited {
                color: $zwart;
                text-decoration: none;
            }
        }

    }

    .open-subnavigation {
        display: block;

        @include mq('tablet-portrait') {
            display: none;
        }

    }
}


.subnavigation-default {
    display: block;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 19px 0 0 0;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        li {
            width: auto;
            flex-basis: auto;
            padding: 0;


            a {
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                padding: 18px 0 16px 0;
                margin: 0 16px;

                &:hover {
                    border-bottom: 4px solid $oranje;
                    padding-bottom: 12px;
                }



            }
            &:first-child a{
                margin-left: 0;
                
            }

        }
    }
}
.modiv-image_title_text .wrapper {
    display: flex;
    flex-flow: column wrap;
    margin-left: -16px;
    margin-right: -16px;

    .contenttype--page {
        margin: 16px;
        @extend %z-index-2dp;
        transition-duration: 0.3s;
        &:hover{
           @extend %z-index-4dp; 
        }
        

        a {
            text-decoration: none;
            color: $zwart;

            &:hover {
                color: $zwart;
            }

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;

                .thumb {
                    flex-basis: 100%;
                    margin-right: 16px;

                }

                .title {}

                .text {
                    display: none
                }
            }
        }
    }

    @include mq('tablet-portrait') {
        flex-direction: row;
        justify-content: flex-start;

        .item {
            flex-basis: calc(33.33% - 32px);

            a div {
                flex-direction: column;
                align-items: flex-start;

                .thumb {
                    min-width: 100%;
                    margin-right: 0;

                    img {
                        min-width: 100%;
                    }
                }

                .text,
                .title {
                    word-break: break-word;
                    display: block;
                    padding: 0 16px;
                }

            }

        }

    }
}

.pc-default {
    .pagecollection {
        display: flex;
        flex-flow: row wrap;
        margin-left: -16px;
        margin-right: -16px;
    }

    .page {
        margin: 8px;

        flex-basis: 100%;
        padding: 16px;

        @include mq('tablet-portrait') {
            flex-basis: calc(33.33% - 16px);
        }
    }

    .title {
        @extend %h2;
    }

    .lead p {
        @extend %pSmall;
    }
}
.tabsactive{
    .g-grid-row:nth-child(odd){
        background: $lichtblauw;
    }
      .g-grid-row:first-child{
        background: $donkerblauw;
          h4{
              color: $neutral-100;
          }
    }
    .g-grid-row{
        margin: 0;
        align-items: stretch;
        .g-grid-span6{
            border-right: 1px solid $gray-20;
        }
    }
    
}
