@import 'mediaqueries';
@import 'colors';
@import 'typography';




.tabsrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid $gray-20;
    border-bottom: 0;
    justify-content: flex-start;
    align-content: stretch;

    .tabsactive,
    .tabsinactive {
        flex-basis: auto;
        flex-grow: 1;
        padding: 16px;
        @extend %h3;
        text-align: center;
        border-bottom: 1px solid $gray-20;
        border-right: 1px solid $gray-20;
        h2{
            text-transform: uppercase;
        }
    }

    .tabsactive {
        font-weight: 600;
        background: $donkerblauw;
        h2{
            color: $neutral-100;
        }
        
    }

    .tabsinactive {
        color: $primary;
        cursor: pointer;
    }
}

.tabsinactive:hover {
    background: $lichtblauw;
}

.tabsrow div:last-of-type {
    border-right: 0;
}

.tabspanes {

    .tabsactive {
        border: 1px solid $gray-20;
        border-top: 0;
        padding: 32px;
    }

    .tabsinactive {
        display: none;
    }
}
